{% extends 'templates/dashboard_base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock links %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm border-0 p-4">
                <h4 class="fw-bold mb-3">Change Password</h4>
                <form method="POST">
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% csrf_token %}
                   <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">Update Password</button>
                    </form>
                    <button type="submit" class="btn btn-primary w-100">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}